.header {
    text-align: center;
}
.header img{
    height : 80px;

}
.header nav{
    background-color: black;
    line-height: 30px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 3px;
}
nav a:hover{
    background-color: grey;
}